{% extends 'base.html.twig' %}

{% block title %}Le panier{% endblock %}


{% block body %}
{# {{ dump()}} #}
<div class="container my-4">

<h1>Votre panier</h1>

{% if rows is empty %}
<p>Votre panier est vide!</p>
{% else %}


<a href="{{path('cart_clear')}}" onclick="return confirm('Etes vous sur de vouloir vider tout le panier?'); class="btn btn-warning mb-2"><i class="bi-trash-fill me-1"></i>Vider le panier</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Titre</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantité</th>
        <th scope="col">Total</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
        {% for row in rows %}
      <tr>
        <th scope="row"><img class="product-thumbnail" src="/images/produits/{{row.product.imageName}}" alt="bijoux" }} /></th>
        <td>{{ row.product.nom }}</td>
        <td>{{ row.product.prix|default('-') }}</td>
        <td>{{ row.quantity}}</td>
        <td>{{ row.product.prix*row.quantity }}</td>
        <td>
            <a class="btn btn-danger" onclick="return confirm('Supprimer un article du panier?');" href="{{path('cart_delete',{id:row.product.id})}}"> <i class="fa fa-trash" ></i></a>
        <hr>
            <a class="btn btn-success"  href="{{path('cart_add',{id:row.product.id})}}">
               <i class="fa fa-plus" ></i></a>
        </td>
      </tr>
      {% endfor %}
      
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">TOTAL</td>
            <td>{{ totalQuantity }}</td>
            <td>{{ total }}€</td>
            <td>
                <form action="/checkout" method="post">
                    <a type="submit" class="btn btn-primary" href="{{ path('app_adresse')}}">Valider mon panier {{ total}}€</a>
                </form>
            </td>
        </tr>
    </tfoot>



    </table>
  {% endif %}


</div>


{% endblock %}

