
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand text-warning fw-bold" ><img src="image/LIKE.png" width= "150px" alt=""></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_home')}}">ACCUEIL</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('produit_list')}}">PRODUITS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CATALOGUE
                </a>
                <ul class="dropdown-menu">
                 {% for category in categories%}
                  <li><a class="dropdown-item" href="{{ path('produitByCategory',{id:category.id}) }}">{{ category.nom }}</a></li>
                  {% endfor %}
                  
                </ul>
              </li>

              {% if app.user %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout')}}">DECONNEXION</a>
             
              </li>
              {% else %}
              
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login')}}">CONNEXION</a>
              </li>
              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register')}}">INSCRIPTION</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_contact')}}" >CONTACT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" >ADMIN</a>
              </li>
            </ul>
            {# <a id="cart-toogle" href = "{{ path('app_cart')}}" class="cart-toogle header-btn header-cart-btn" data-toggle="dropdown" data-display="static">
              <i class="fa fa-shopping-bag fa-fw icon" aria-hidden="true"><span class="cart-products-count-btn  d-none">0</span></i>
              <span class="info-wrapper">
                 <span class="title">Panier</span>
                    <span class="cart-toggle-details">
                       {# <span class="text-faded cart-separator"> / </span> #}
                       {# {{ app.session.get('panier')?app.session.get('panier')|length:'0'}}
                               #}
                      </span>
              </span>
          {# </a> #}
          <a href="{{ path('app_cart')}}">
            <i class="fa fa-shopping-cart"style='margin-right : 10px ; font-size:30px'></i> 
            <span class ="badge text-danger"></span></a>

            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success text-dark" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    
    