{% extends 'base.html.twig' %}

{% block title %}Voir Detail{% endblock %}

{% block body %}
<div class="my-5 text-center">
    <h1>Detail de produit</h1>
</div>
<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ vich_uploader_asset(produit,'imageFile')}}" alt="bijoux" /></div>
        <div class="col-md-6">
            <div class="small mb-1">SKU: BST-498</div>
            <h1 class="display-5 fw-bolder">{{ produit.nom }}</h1>
            <div class="fs-5 mb-5">
              
                <span>{{ produit.prix }} € </span>
            </div>
            <p class="lead">{{ produit.description }}</p>
            <div class="d-flex">
                <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                    <i class="bi-cart-fill me-1"></i>
                    Add to cart
                </button>
                <a class="btn btn-outline-success mt-auto" href="{{ path('app_home') }}">Retour accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
