{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
{# {{ dump() }}  #}
<div class="container">
    <div class="text-center my-4">
        <a class="btn btn-info " href="{{ path('app_admin_produit_new') }}">Ajouter un nouveau produit</a>
    </div>



    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Image</th>
                <th>Category</th>
              
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <th scope="row"><img class="product-thumbnail" src="{{ vich_uploader_asset(produit,'imageFile')}}" alt="bijoux"/></th>
                {# <td>{{ produit.imageName }}</td> #}
                <td>{{ produit.category.nom }}</td>
               
                <td>
                    <a class="btn btn-success" href="{{ path('app_admin_produit_show', {'id': produit.id}) }}"><i class="fa fa-eye"></i></a>
                    <hr>
                    <a class="btn btn-warning" href="{{ path('app_admin_produit_edit', {'id': produit.id}) }}"><i class="fa fa-edit"></i></a>
                    <hr>
                    <a class="btn btn-danger" href="{{ path('app_admin_produit_delete', {'id': produit.id}) }}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}