{% extends 'base.html.twig' %}

{% block title %}Gerer mes adresses{% endblock %}

{% block body %}

{% if app.user.adresse|length==0 %}
<p>
    Vous n'avez pas d'adresses.
</p>
<a type="button" class="btn btn-success" href="{{ path('adresse_new')}}">Ajouter mon adresse</a>
{% else %}

<div class="container my-4">
  
  <h1>Mes adresses</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">nom</th>
      <th scope="col">prenom</th>
      <th scope="col">Adress</th>
      <th scope="col">Complement</th>
      <th scope="col">Code postal</th>
      <th scope="col">ville</th>
      <th scope="col">Actions</th> 
    </tr>
  </thead>
  <tbody class="table-group-divider">
    
    
      {% for adresse in adresses %}
       
          <tr>
                <td>
                    <div class="form-check">
                      <input class="form-check-input" 
                        type="radio" 
                        name="flexRadioDefault" 
                        value="{{adresse.id }}"
                        data-url = "{{ path('commande_new',{'adresseId': adresse.id }) }}">
                      {# <label class="form-check-label" for="flexRadioDefault1"></label> #}
                    </div>
                </td>
                <td>{{adresse.user.nom }}</td>
                <td>{{adresse.user.prenom }}</td>
                <td>{{adresse.adresse }}</td>
                <td>{{adresse.complement }}</td>
                <td>{{adresse.codePostal }}</td>
                <td>{{adresse.ville }}</td> 
                <td>
                  <form method="post" action="{{ path('adresse_delete_form', {'id': adresse.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                      <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse.id) }}">
                      <button class="btn btn-outline-warning">Delete FORM</button>
                  </form>
                  <button type="button" 
                          class="btn btn-outline-warning deleteAjax"  
                          data-url = "{{ path('adresse_delete_ajax', {'id': adresse.id}) }}"  
                          data-token = "{{ csrf_token('delete' ~ adresse.id) }}">Delete AJAX
                  </button>
                  <br>
                </td> 
                
            </tr> 
  {% endfor %}
  {% endif %}
    </tbody>
</table>
<a type="button" class="btn btn-success" id="valideAdresse">Choisir mon adresse</a>
</div>
{% endblock %}

{% block script %}
<script>

    $( document ).ready(function() {
      $("#valideAdresse").unbind("click");
        $("#valideAdresse").click(function(){
           var valueIdAdresseChecked = $("input[name='flexRadioDefault']:checked").val();
           
           if(valueIdAdresseChecked){
            var route =$("input[name='flexRadioDefault']:checked").data("url");
                
                window.location.href = route;
                
           }else{
              alert("Veuillez choisir votre adresse de livraison.");
           }
        });
        $('.deleteAjax').click(function(){
            var url = $(this).data('url');
            var token = $(this).data('token');
            $.ajax({
                type: "POST",
                url: url,
                data: {"_token" : token},
                success: function (result){
                    window.location.href =  "{{ path (app.request.get('_route')) }}";
                },
                error: function (error) {
                   console.log("error click delete");
                   console.log(error);
                },
                dataType: "json"
          })
        });
    });
  </script>
{% endblock %}
