{% extends 'base.html.twig' %}

{% block title %}Gerer mes adresses{% endblock %}

{% block body %}
{{ dump() }}
{% if app.user.adresse|length==0 %}
<p>
    Vous n'avez pas d'adresses.
</p>
{% else %}
<div class="container my-4">
  <a type="button" class="btn btn-success" href="{{ path('adresse_new')}}">Ajouter mon adresse</a>
  <h1>Mes adresses</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">nom</th>
      <th scope="col">prenom</th>
      <th scope="col">Adress</th>
      <th scope="col">Complement</th>
      <th scope="col">Code postal</th>
      <th scope="col">ville</th>
      <th scope="col">Actions</th> 
    </tr>
  </thead>
  <tbody class="table-group-divider">
    
    
      {% for adresse in adresses %}
       
          <tr>
                <td>
                    <div class="form-check"><input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="{{adresse.id }}" data-url="{{ path('commande_new',{'adresseId':adresse.id})}}">
                      {# <label class="form-check-label" for="flexRadioDefault1"></label> #}
                    </div>
                </td>
                <td>{{adresse.user.nom }}</td>
                <td>{{adresse.user.prenom }}</td>
                <td>{{adresse.adresse }}</td>
                <td>{{adresse.complement }}</td>
                <td>{{adresse.codePostal }}</td>
                <td>{{adresse.ville }}</td> 
                <td><a href="{{ path('adresse_delete', {'id': adresse.id}) }}">supprimer</a></td> 
                {{ dump(adresse.id)}}
            </tr> 
  {% endfor %}
  {% endif %}
    </tbody>
</table>
<a type="button" class="btn btn-success" id="valideAdresse">Choisir mon adresse</a>
</div>
{% endblock %}

{% block script %}
<script>

    $( document ).ready(function() {
        $("#valideAdresse").click(function(){
           var valueIdAdresseChecked = $("input[name='flexRadioDefault']:checked").val();
           
           if(valueIdAdresseChecked){
            var route =$("input[name='flexRadioDefault']:checked").data("url");
                
                window.location.href = route;
                
           }else{
              alert("Veuillez choisir votre adresse de livraison.");
           }
        });
    });
  </script>

{% endblock %}
