{% extends 'base.html.twig' %}

{% block title %}Commande List{% endblock %}

{% block body %}
    <h1>Commande List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date</th>
                <th>Adresse de livraison</th>
                <th>statut</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
        {# {{ dump()}} #}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.user.nom }}
                <td>{{ commande.user.prenom }}</td>
                <td>{{ commande.datetime|date("d/m/Y") }}</td>
                <td>{{ commande.adresseId }}</td>
                {# <td>{{ commande.detailCommandes }}</td> #}
                <td>{{ commande.statut }}</td>
                <td>
                    <a href="{{ path('commande_show', {'id': commande.id}) }}">show</a>
           
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}